**/Debug
**/Release
*/Debug/
*/Release/
**/.xdchelp
**/.config
*/.config/
**/.launches
*/.launches/
**/targetConfigs
*/targetConfigs/
dvt
dvt/*
.jxbrowser*
.metadata
.metadata/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
msf60
driverlib
driverlib/*
.settings

